/* Google Font Import Link */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

/* .bg {
  background: url("/img/home1.jpg");
  opacity: 25%;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
} */

/* navbar */
.img {
  background-color: #11101D;
  background-position: center;
  width: 90%;
  margin: auto;
  height: 60px;
}

nav{
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 75px;
  transition: all 0.4s ease;
}

nav .nav-content{
  height: 100%;
  max-width: 1200px;
  margin: auto;
  padding-top: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .logo a{
  text-decoration: none;
  font-weight: 500;
  font-size: 35px;
  color: white;
}

nav .logo a img {
  /* opacity: 100%; */
  margin-left: -10px;
  margin-top: 10px;
  width: 80px;
  height: 35px;
}

.nav-content .nav-links{
  display: flex;
}

/* .nav-content .notif .notif-content .icon li {
  list-style: none;
  position: fixed;
  margin-left: 1040px;
}

.nav-content .notif .notif-content .icon li a {
  color: red;
  font-size: 20px;
  margin-top: 4px;
  transition: all 0.3s ease;
}

.nav-content .notif .notif-content .icon li a:hover {
  color: #2E94E3;
} */

.nav-content .nav-links li{
  list-style: none;
  margin: 0 8px;
}

.nav-links {
  margin-right: 20px;
  margin-top: 20px;
}

.nav-links li {
  background-color: #1d1b31;
  border-radius: 25px;
  padding: 5px 10px 5px 10px;
}

.nav-links li a{
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: 500;
  padding: 10px 5px;
  transition: all 0.3s ease;
}

.nav-links li a:hover{
  color: #2E94E3;
}

.nav-links2 {
  margin-right: 330px;
  margin-top: 20px;
}

.nav-links2 li {
  list-style: none;
  margin-right: 10px;
  float: left;
}

.nav-links2 li a{
  text-decoration: none;
  color: white;
  font-size: 18px;
  padding: 10px 5px;
  transition: all 0.3s ease;
}

.nav-links2 li a:hover{
  color: #2E94E3;
}

.isi{
  font-family: 'Ubuntu', sans-serif;
}
/* End Navbar */





/* Image Slider */
.imageslider{
  margin: 0;
  padding: 0;
  display: flex;
}

.slider{
  position: absolute;
  width: 750px;
  height: 82vh;
  border-radius: 10px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin-left: 5%;
  margin-top: 20px;
}

.slides{
  width: 500%;
  height: 500px;
  display: flex;
}

.slides input{
  display: none;
}

.slide{
  width: 20%;
  transition: 2s;
}

.slide img{
  width: 750px;
  height: 82vh;
}
  

/*css for manual slide navigation*/
.navigation-manual{
  position: absolute;
  width: 750px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.manual-btn{
  border: 2px solid #2E94E3;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child){
  margin-right: 40px;
}

.manual-btn:hover{
  background: #2E94E3;
}

#radio1:checked ~ .first{
  margin-left: 0;
}

#radio2:checked ~ .first{
  margin-left: -20%;
}


/*css for automatic navigation*/
.navigation-auto{
  position: absolute;
  display: flex;
  width: 750px;
  justify-content: center;
  margin-top: 460px;
}

.navigation-auto div{
  border: 2px solid #2E94E3;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}

.navigation-auto div:not(:last-child){
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
  background: #2E94E3;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
  background: #2E94E3;
}
/* End image slider */





/* DATA AND TIME */
.waktu {
  margin: 0;
  padding: 0;
  display: flex;
}

.datetime{
  margin-top: 20px;
  margin-left: 840px;
  color: #fff;
  background: #11101D;
  font-family: "Segoe UI", sans-serif;
  width: 420px;
  padding: 15px 10px;
  border-radius: 10px;
}

.date{
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 3px;
}

.time{
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.time span:not(:last-child){
  /* position: relative; */
  margin: 0 6px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 3px;
}

.time span:last-child{
  background: #2E94E3;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 10px;
  padding: 0 5px;
  border-radius: 3px;
}
/* End date and time */





/* Login Form */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
.login {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    background: #11101D;
    overflow: hidden;
    width: 440px;
    height: 385px;
    margin-left: 840px;
    margin-top: 20px;
    border-radius: 10px;
    border: 5px solid #11101D;
}

.login-petugas {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
  background: #11101D;
  overflow: hidden;
  width: 440px;
  height: 355px;
  margin: 0 auto;
  margin-top: 100px;
  border-radius: 10px;
  border: 5px solid #11101D;
}

.login-petugas .wrapper form .row i,
.login-petugas .wrapper form .row input {
  margin-top: 5px;
}

.login-petugas .wrapper form .button input {
  margin-top: 20px;
}

.wrapper{
    height: 100%;
    width: 100%;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 4px 10px 1px rgba(0,0,0,0.1);
}

.wrapper .title{
    height: 60px;
    background: #11101D;
    border-radius: 5px 5px 0 0;
    color: #fff;
    font-size: 25px;
    font-weight: 750;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper .title li {
  list-style: none;
  margin-left: 20px;
  margin-top: -3px;
}

.wrapper .title li a{
  color: white;
  font-size: 20px;
}

.wrapper .title li a:hover{
  color: #2E94E3;
}

.wrapper form{
  padding: 30px 25px 25px 25px;
}

.wrapper form .row{
    height: 45px;
    margin-bottom: 30px;
    /* position: relative; */
}

.wrapper form .row i{
    position: absolute;
    width: 47px;
    height: 47px;
    color: #fff;
    font-size: 18px;
    background: #1d1b31;
    border: 1px solid #1d1b31;
    border-radius: 5px 0 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.wrapper form .row input{
    height: 100%;
    width: 80%;
    outline: none;
    padding-left: 60px;
    border-radius: 5px;
    border: 1px solid #11101D;
    font-size: 16px;
    transition: all 0.3s ease;
    margin-top: 20px;
}

form .row input:focus{
    border-color: #2E94E3;
    box-shadow: inset 0px 0px 2px 2px #2e95e382;
}

form .row input::placeholder{
    color: grey;
}

.wrapper form .pass{
    margin: -10px 0 20px 0;
}

.wrapper form .pass a{
    color: #2E94E3;
    font-size: 15px;
    text-decoration: none;
}

.wrapper form .pass a:hover{
    text-decoration: underline;
}

.wrapper form .button input{
    width: 370px;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    padding-left: 0px;
    background: #1d1b31;
    border: 1px solid #1d1b31;
    cursor: pointer;
    margin-top: 40px;
}
form .button input:hover{
    background: #2E94E3;
    border: 1px solid #2E94E3;
}
/* End login form */





/* Abouts */
.profiles {
  margin: 0;
  padding: 0;
  height: 80vh;
  justify-content: center;
  align-items: center;
  display: flex;
}

.card {
  font-family: "Candara", sans-serif;
  width: 300px;
  overflow: hidden;
  background: #11101d;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  margin-right: 50px;
}

.card-image img {
  width: 100%;
  height: 150px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover;
}

.profile-image img {
  z-index: 1;
  width: 120px;
  height: 120px;
  position: relative;
  margin-top: -75px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 100px;
  border: 7.5px solid #11101d;
  transition-duration: 0.4s;
  transition-property: transform;
}

.profile-image img:hover {
  transform: scale(1.02);
  border: 6px solid #11101d;
}

.card-content {
  margin-top: 10px;
}

.card-content h3 {
  color: white;
  font-size: 20px;
  text-align: center;
  margin: 0;
}

.card-content p {
  margin-top: 3px;
  color: white;
  font-size: 14px;
  text-align: center;
  padding: 0 20px 5px 20px;
}

.icons {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 30px;
}

.icons a {
  text-decoration: none;
  font-size: 20px;
  color: white;
  padding: 0 14px;
  transition-duration: 0.4s;
  transition-property: transform;
}

.icons a:hover {
  color: #2E94E3;
  transform: scale(1.5);
}
/* End abouts */





/* Google Font CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

/* Contact */
.contact {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
  margin-top: 20px;
  margin-left: 68px;
}

.contact-content {
  min-height: 81vh;
  width: 1215px;
  background: #11101D;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.container{
  width: 85%;
  background: #11101D;
  border-radius: 6px;
  padding: 20px 80px 30px 40px;
}

.container .content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container .content .left-side{
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  margin-left: -10px;
  position: relative;
}

.content .left-side::before{
  content: '';
  position: absolute;
  height: 70%;
  width: 2px;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  background: #afafb6;
}

.content .left-side .details{
  margin: 14px;
  text-align: center;
}

.content .left-side .details i{
  font-size: 30px;
  color: #2E94E3;
  margin-bottom: 10px;
}

.content .left-side .details .topic{
  font-size: 18px;
  font-weight: 500;
  color: white;
}

.content .left-side .details .text-one,
.content .left-side .details .text-two{
  font-size: 14px;
  color: #afafb6;
}

.container .content .right-side{
  width: 75%;
  margin-left: 75px;
}

.container .content .right-side p {
  color: white;
  font-size: 12px;
  margin-bottom: 10px;
  margin-top: -2px;
}

.content .right-side .topic-text{
  font-size: 23px;
  font-weight: 600;
  color: #2E94E3;
}

.right-side .input-box{
  height: 50px;
  width: 100%;
  margin: 12px 0;
}

.right-side .input-box input,
.right-side .input-box textarea{
  font-family: "Poppins" , sans-serif;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  background: #F0F1F8;
  border-radius: 6px;
  padding: 0 15px;
  resize: none;
}

.right-side .message-box{
  min-height: 110px;
}

.right-side .input-box textarea{
  padding-top: 6px;
}

.right-side button{
  display: inline-block;
  margin-top: 12px;
}

.right-side button{
  color: #fff;
  font-size: 18px;
  outline: none;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  background: #2E94E3;
  cursor: pointer;
  transition: all 0.3s ease;
}

.right-side button:hover{
  background: #2679b8;
}

.right-side .info-sukses {
  padding-bottom: 10px;
  color: green;
  font-weight: 500;
  margin-top: 5px;
  margin-bottom: -15px;
}

.right-side .info-sukses .info-fail {
  padding-bottom: 10px;
  color: red;
  font-weight: 500;
  margin-top: 5px;
  margin-bottom: -15px;
}

@media (max-width: 950px) {
  .container{
    width: 90%;
    padding: 30px 40px 40px 35px ;
  }

  .container .content .right-side{
    width: 75%;
    margin-left: 55px;
  }
}

@media (max-width: 820px) {
  .container{
    margin: 40px 0;
    height: 100%;
  }
  .container .content{
    flex-direction: column-reverse;
  }

  .container .content .left-side{
    width: 100%;
    flex-direction: row;
    margin-top: 40px;
    justify-content: center;
    flex-wrap: wrap;

  }
  
  .container .content .left-side::before{
    display: none;
  }

  .container .content .right-side{
    width: 100%;
    margin-left: 0;
  }
}



/* Notification */
.notif {
	padding: 0px;
	margin: 0px;
}
.notif .notif-content {
	font-family: sans-serif;
}

.icon {
	cursor: pointer;
	margin-right: 50px;
	line-height: 60px;
    /* float: right; */
}

.icon li {
    list-style: none;
	display: inline-block;
	width: 40px;
	margin-top: 10px;
    position: fixed;
    margin-left: 1120px;
}

.icon li a {
    color: white;
    font-size: 20px;
    margin-top: 4px;
    transition: all 0.3s ease;
}

.icon li a:hover {
    color: #2E94E3;
}

.icon:hover {
	opacity: .7;
}

.logo {
	flex: 1;
	margin-left: 50px;
	color: #eee;
	font-size: 20px;
	font-family: monospace;
}

.notifi-box {
  background-color: #11101D;
	width: 300px;
	height: 0px;
	opacity: 0;
	position: fixed;
	top: 63px;
	right: 35px;
	transition: 1s opacity, 250ms height;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /* z-index: 1; */
  border-radius: 10px;
  border: 2px solid #1d1b31;
}
.notifi-box h2 {
  cursor: default;
	font-size: 14px;
	padding: 10px;
	border-bottom: 1px solid #eee;
	color: white;
  margin-bottom: 0px;
  /* background-color: black; */
  text-align: center;
}

.notifi-item {
    height: 30px;
	display: flex;
	/* border-bottom: 1px solid #eee; */
	padding: 15px 5px;
	/* margin-bottom: 15px; */
	/* cursor: pointer; */
  /* background-color: black; */
}
.notifi-item:hover {
	background-color: grey;
}
.notifi-item img {
	display: block;
	width: 30px;
    height: 30px;
    margin-left: 10px;
	margin-right: 10px;
	border-radius: 50%;
}

.notifi-item .text li {
  cursor: default;
    padding: 5px;
    list-style: none;
    color: white;
}