/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

/* Image Slider */
.imageslider{
  margin: 0;
  padding: 0;
  display: flex;
}

.slider{
  border: 2px solid #1d1b31;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 0 10px 10px 0;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.slides{
  width: 500%;
  height: 500px;
  display: flex;
}

.slides input{
  display: none;
}

.slide{
  width: 20%;
  transition: 2s;
}

.slide img{
  width: 100%;
  height: 710px;
}
  

/*css for manual slide navigation*/
.navigation-manual{
  position: absolute;
  width: 100%;
  top: 92%;
  display: flex;
  margin-top: -40px;
  justify-content: center;
}

.navigation-manual .manual-btn{
  border: 2px solid #2E94E3;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child){
  margin-right: 40px;
}

.manual-btn:hover{
  background: #2E94E3;
}

#radio1:checked ~ .first{
  margin-left: 0;
}

#radio2:checked ~ .first{
  margin-left: -20%;
}

#radio3:checked ~ .first{
  margin-left: -40%;
}


/*css for automatic navigation*/
.navigation-auto{
  top: 92%;
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 460px;
}

.navigation-auto div{
  border: 2px solid #2E94E3;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}

.navigation-auto div:not(:last-child){
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
  background: #2E94E3;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
  background: #2E94E3;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
  background: #2E94E3;
}
/* end image slider */





/* Register Siswa */
.register * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}

.register {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e4e9f7;
  padding: 30px;
}

.container{
  border-radius: 10px;
  position: relative;
  max-width: 1100px;
  width: 100%;
  color: white;
  background: #11101D;
  padding: 40px 30px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  perspective: 2700px;
}

.container .cover{
  position: absolute;
  top: 0;
  left: 40%;
  height: 100%;
  width: 60%;
  z-index: 98;
}

.container .forms{
  height: 100%;
  width: 80%;
  background: #11101D;
}

.container .form-content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-content .signup-form{
  width: calc(100% / 2 - 25px);
}

.forms .form-content .title{
  position: relative;
  font-size: 22px;
  font-weight: 500;
  color: white;
  margin-left: 50px;
}

.forms .form-content .title::before{
  content: '';
  position: absolute;
  left: 1%;
  bottom: 0;
  height: 3px;
  width: 65px;
  background: #2E94E3;
}

.forms .form-content .title::after{
  width: 25px;
}

.forms .form-content .input-boxes{
  margin-top: 30px;
}

.forms .form-content .input-box{
  display: flex;
  align-items: center;
  height: 40px;
  width: 100%;
  margin: 20px 0;
  position: relative;
}

.forms .form-content label{
  font-size: 14px;
  display: flex;
  position: relative;
  margin-left: 15px;
  margin-top: -5px;
  margin-bottom: -15px;
  font-weight: 400;
}

.forms .form-content select{
  display: flex;
  align-items: center;
  height: 40px;
  width: 100%;
  margin: 20px 0;
  position: relative;
}

.form-content .input-box input{
  background: #1d1b31;
  color: grey;
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 20px;
  padding: 0 40px;
  font-size: 14px;
  font-weight: 500;
  border-bottom: 2px solid rgba(0,0,0,0.2);
  transition: all 0.3s ease;
}

.form-content select{
  position: relative;
  background: #1d1b31;
  color: grey;
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 20px;
  padding: 0 20px;
  font-size: 14px;
  font-weight: 500;
  border-bottom: 2px solid rgba(0,0,0,0.2);
  transition: all 0.3s ease;
}

.form-content .input-box input:focus,
.form-content .input-box input:valid{
  border-color: #2E94E3;
}

.form-content .input-box i{
  margin-left: 15px;
  position: absolute;
  color: #2E94E3;
  font-size: 17px;
}

.forms .form-content .text{
  font-size: 14px;
  font-weight: 500;
  color: grey;
}

.forms .form-content .text a{
  text-decoration: none;
}

.forms .form-content .text a:hover{
  text-decoration: underline;
}

.forms .form-content .button{
  color: #fff;
  margin-top: 40px;
}

.forms .form-content .button input{
  color: #fff;
  background: #2E94E3;
  border-radius: 6px;
  padding: 0;
  cursor: pointer;
  transition: all 0.4s ease;
}

.forms .form-content .button input:hover{
  background: #104670;
}

.forms .form-content a{
  color: white;
  cursor: pointer;
}

.forms .form-content a:hover{
  text-decoration: underline;
}

.forms .form-content .sign-up-text{
  text-align: center;
  margin-top: 25px;
}

.forms .form-content .title a {
  margin-left: -40px;
  margin-right: 20px;
  text-decoration: none;
  color: #2E94E3;
}
/* End register siswa */



/* Start register petugas */
.register-petugas * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}

.register-petugas {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e4e9f7;
  padding: 30px;
}

.container-petugas{
  border-radius: 10px;
  position: relative;
  max-width: 600px;
  width: 100%;
  color: white;
  background: #11101D;
  padding: 40px 30px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  perspective: 2700px;
}

.container-petugas .forms{
  height: 100%;
  width: 100%;
  background: #11101D;
}

.container-petugas .form-content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container-petugas .forms .form-content .signup-form{
  width: 100%;
}
/* end register petugas */