/* SIDEBAR */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

/* #1d1b31 warna keungugan*/
/* #11101D warna hitam*/
/* #2a2848 warna keunguan lebih muda */
/* #10101E warna hitam ungu */
/* #2E94E3 cyan lebih muda*/
/* #40D3DC lebih muda lagi */
/* #e4e9f7 */
/* #e9edf8 */

/* Sidebar Start */
.sidebar * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  max-height: 1000px;
  width: 78px;
  background: #11101d;
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
}

.sidebar.open {
  width: 250px;
}

.sidebar .logo-details {
  background-color: #11101d;
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}

.sidebar .logo-details .icon {
  opacity: 0;
  transition: all 0.5s ease;
}

.sidebar .logo-details .logo_name {
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  opacity: 0;
  transition: all 0.5s ease;
}

.sidebar .logo-details .logo_name img {
  width: 90px;
  height: 40px;
}

.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name {
  opacity: 1;
}

.sidebar .logo-details #btn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}

.sidebar.open .logo-details #btn {
  text-align: right;
}

/* Box Search */
.sidebar input {
  font-size: 15px;
  color: #fff;
  font-weight: 400;
  outline: none;
  height: 50px;
  width: 100%;
  width: 50px;
  border: none;
  border-radius: 12px;
  transition: all 0.5s ease;
  background: #1d1b31;
}

.sidebar.open input {
  padding: 0 20px 0 50px;
  width: 100%;
}

.sidebar .bx-search {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 22px;
  background: #1d1b31;
  color: #fff;
}

.sidebar.open .bx-search:hover {
  background: #1d1b31;
  color: #fff;
}

.sidebar .bx-search:hover {
  background: #fff;
  color: #11101d;
}
/* End Box Search */

.sidebar i {
  color: #fff;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}

.sidebar .nav-list {
  margin-top: 20px;
  height: 100%;
}

.sidebar li {
  position: relative;
  margin: 8px 0;
  list-style: none;
}

.sidebar li i {
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}

.sidebar li .tooltip {
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}

.sidebar li:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}

.sidebar.open li .tooltip {
  display: none;
}

.sidebar li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  transition: all 0.4s ease;
  background: #11101d;
}

.sidebar li a:hover {
  background: #fff;
}

.sidebar li a .links_name {
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}

.sidebar.open li a .links_name {
  opacity: 1;
  pointer-events: auto;
}

.sidebar li a:hover .links_name,
.sidebar li a:hover i {
  transition: all 0.5s ease;
  color: #11101d;
}

.sidebar li .sidebar-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sidebar.open li.showMenu i.arrow {
  transform: rotate(-180deg);
}

.sidebar i.arrow {
  display: none;
}

.sidebar.open i.arrow {
  transition: all 0.3s ease;
  display: inline-block;
}



/* sub menu sidebar */
.sidebar li .sub-menu {
  padding: 6px 6px 14px 45px;
  background: #1d1b31;
  display: none;
  color: #fff;
}

.sidebar.open li.showMenu .sub-menu {
  display: block;
}

.sidebar.close li .sub-menu {
  display: none;
}

.sidebar li .sub-menu a {
  color: #fff;
  background: none;
  padding: 5px;
  font-size: 14px;
  opacity: 0.6;
}

.sidebar li .sub-menu a:hover {
  opacity: 1;
  color: #11101d;
  background: #fff;
}
/* end submenu sidebar */

/* End Sidebar */






/* Profiles and logout Sidebar Start */
.sidebar li.profile {
  position: fixed;
  height: 60px;
  width: 78px;
  left: 0;
  bottom: -8px;
  padding: 10px 14px;
  background: #1d1b31;
  transition: all 0.5s ease;
  overflow: hidden;
}

.sidebar.open li.profile {
  width: 250px;
}

.sidebar li .profile-details {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.sidebar li img {
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 10px;
}

.sidebar li.profile .name,
.sidebar li.profile .job {
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  white-space: nowrap;
}

.sidebar li.profile .job {
  font-size: 12px;
}

.sidebar .profile a {
  background: none;
  margin-top: 10px;
}

.sidebar .profile a:hover {
  background: none;
}

.sidebar .profile #log_out {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: #1d1b31;
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-radius: 0px;
  transition: all 0.5s ease;
}

.sidebar.open .profile #log_out {
  width: 50px;
  background: none;
}
/* End Profile and logout Sidebar */






/* Intruction */
.intruksi h2 {
  font-size: 35px;
  margin-bottom: 6px;
  color: darkcyan;
}

.intruksi {
  font-family: "Ubuntu", sans-serif;
  margin-top: 10px;
  text-align: justify;
  padding: 40px 80px;
  height: 550px;
  /* box-shadow: -5px 0 10px rgba(0, 0, 0, 0.1); */
  box-shadow: -5px 0 10px #1d1b31;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
/* End Intruction */






/* isi content */
.sidebar.open ~ .home-section {
  left: 250px;
  width: calc(100% - 250px);
}

@media (max-width: 420px) {
  .sidebar li .tooltip {
    display: none;
  }
}

.home-section {
  position: relative;
  background: #e4e9f7;
  min-height: 100vh;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  z-index: 2;
}

.home-section nav {
  position: fixed;
  height: 75px;
  background: #fff;
  width: 100%;
  margin-top: -20px;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.1);
}

.home-section nav .text {
  display: inline-block;
  color: #11101d;
  font-size: 25px;
  font-weight: 500;
  margin-left: 10px;
  padding: 15px;
  margin-top: 10px;
}

.home-section .home-content {
  /* position: relative; */
  padding-top: 50px;
}





/* sidebar menu */
.sidebar-menu {
  width: 100%;
  height: 565px;
  margin-top: 10px;
  padding: 20px 0px;
  /* box-shadow: -5px 0px 10px #1d1b31; */
}

.sidebar-menu-content {
  padding: 20px;
  margin-top: -10px;
}

.sidebar-menu-content .button-new {
  margin-bottom: -10px;
}

.sidebar-menu-content .button-new2 a {
  margin-right: 10px;
}

.sidebar-menu-content .button-new2 .search {
  float: right;
  margin-bottom: 15px;
  /* margin-right: 2px; */
}

.sidebar-menu-content .button-new2 .search button {
  margin-bottom: 5px;
  margin-left: 5px;
}

.sidebar-menu-content .button-new2 {
  margin-bottom: 10px;
}

.sidebar-menu-content .info-sukses {
  padding-bottom: 10px;
  color: green;
  font-weight: 500;
}

.sidebar-menu-content .tf-kip {
  margin-left: 20px;
  margin-bottom: -20px;
}

.sidebar-menu-content .tf-kip label {
  margin-right: 10px;
}

.sidebar-menu-content .tf-kip input {
  height: 38px;
}

.sidebar-menu-content .tf-kip button {
  margin-left: 10px;
  margin-top: -5px;
}

/* End Sidebar Menu */



/* Dashboard Siswa */
.dashboard-user {
  /* box-sizing: border-box; */
  /* font-family: "Poppins", sans-serif; */
  height: 565px;
  width: 100%;
  /* margin-top: 5px; */
  padding: 20px 0px;
  /* box-shadow: -5px 0 10px #1d1b31; */
}

.dashboard-user .dashboard-content, .dashboard-content-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
}

.dashboard-content .content-1, .content-2, .content-3 {
  display: inline-table;
  background: rgba(255, 255, 255, 0.878);
  color: black;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  height: 150px;
  border-radius: 10px;
  padding: 20px;
  margin: 10px 20px 20px 0;
} 

.dashboard-content .content-1 h3, .content-2 h3, .content-3 h3 {
  font-size: 20px;
}

.dashboard-content-2 .content-4 {
  display: inline-table;
  background: #fff;
  color: black;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
  width: 820px;
  height: 350px;
  border-radius: 10px;
  padding: 20px;
  /* margin-left: 5px; */
  margin-right: 20px;
}

.dashboard-content-2 .content-4 h3 {
  text-align: center;
  margin-top: 140px;
}

.dashboard-content-2 .content-5 {
  /* display: inline-table; */
  background: #fff;
  color: black;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
  height: 350px;
  width: 400px;
  border-radius: 10px;
  padding: 20px;
  /* padding-top: 20px; */
  /* margin-left: 5px; */
  margin-right: 20px;
}

.dashboard-content-2 .content-5 h3 {
  font-size: 18px;
}



/* Profile Sidebar Siswa */
.profile-user {
  font-family: "Poppins", sans-serif;
  margin-top: 10px;
  box-shadow: -5px 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
}

.profile-content {
  display: flex;
  height: 560px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
}

.profile-content .tabel .info-sukses {
  padding-bottom: 10px;
  color: green;
  font-weight: 500;
}

.profile-content .tabel .info-sukses .info-fail {
  padding-bottom: 10px;
  color: red;
  font-weight: 500;
}

.profile-content .left-profile {
  margin-top: 20px;
  width: 25%;
  box-shadow: 2px 1px 2px rgba(0, 0, 0, 0.1);
}

.profile-content .left-profile .left-content {
  font-size: 18px;
}

.profile-content .left-profile .left-content h4 {
  text-align: center;
  margin-left: -10px;
  padding-top: 5px;
  font-size: 28px;
  margin-bottom: 10px;
}

.profile-content .left-profile .left-content img.tengah {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  height: 150px;
  border-radius: 15px;
}

.profile-content .left-profile .left-content .data-diri {
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.2); */
  width: auto;
  padding-left: 30px;
  border-radius: 5px;
  margin: 5px;
  margin-left: 30px;
  margin-right: 20px;
  /* background: rgba(221, 222, 235, 0.316); */
}

.profile-content .left-profile .left-content .data-diri label {
  font-size: 16px;
  font-weight: 500;
  padding: 10px 0;
  margin-bottom: -10px;
}

.profile-content .tabel {
  margin-left: 30px;
  width: 70%;
}

.profile-content .tabel .title-tabel {
  margin-top: -10px;
  margin-bottom: -24px;
}

/* .profile-content .tabel .title-tabel2 {
  margin-bottom: -10px;
} */

.profile-content .tabel .title-tabel h3 {
  font-size: 30px;
  margin-top: 15px;
  text-align: center;
}

.profile-content .tabel .title-tabel2 h3 {
  font-size: 30px;
  margin-top: 15px;
  text-align: center;
}

.profile-content .tabel form button {
  /* float: right; */
  margin-left: 270px;
  margin-top: 10px;
  width: 100px;
  border-radius: 10px;
}

.profile-content .tabel form label {
  font-weight: 500;
  margin-left: 5px;
  width: 300px;
}

.profile-content .tabel form input,
.profile-content .ubah-profile input {
  /* border: none; */
  /* display: flex; */
  width: 370px;
  border-radius: 10px;
  padding-left: 10px;
  background: rgb(221, 222, 235);
}

.profile-content .tabel form input:hover {
  border-bottom: 2px solid #11101d;
}

/* .profile-content .tabel form {
  display: inline-table;
} */

.profile-content .tabel form .ubah-profile {
  display: flex;
  margin-left: 400px;
  margin-top: -458px;
}

.profile-content .tabel form .ubah-profile label {
  font-size: 16px;
  font-weight: 500;
}

.profile-content .tabel form .ubah-profile input {
  width: 100%;
}

.profile-content .tabel form .ubah-profile2 {
  display: flex;
  margin-left: 400px;
  margin-top: -375px;
}

.profile-content .tabel form .ubah-profile2 label {
  font-size: 16px;
  font-weight: 500;
}

.profile-content .tabel form .ubah-profile2 input {
  width: 100%;
}

/* End Profile Sidebar Siswa */



/* Transaksi sidebar siswa */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
.transaksi {
  /* box-sizing: border-box; */
  font-family: "Poppins", sans-serif;
  margin-top: 10px;
  box-shadow: -5px 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
}

.transaksi-content {
  display: flex;
  /* align-items: center;
  justify-content: center; */
  height: 530px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.transaksi-content .tabel .info-sukses {
  padding-bottom: 10px;
  color: green;
  font-weight: 500;
}

.transaksi-content .tabel .info-sukses .info-fail {
  padding-bottom: 10px;
  color: red;
  font-weight: 500;
}

.transaksi-content .spp {
  margin-top: 20px;
  width: 20%;
  /* border-right: 1px solid black; */
  box-shadow: 2px 1px 2px rgba(0, 0, 0, 0.1);
}

.transaksi-content .spp .spp-content {
  font-size: 18px;
}

.transaksi-content .spp .spp-content .spp-nominal {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  width: 150px;
  padding-left: 5px;
  border-radius: 5px;
  margin: 5px 0px 5px 20px;
  background: rgba(221, 222, 235, 0.316);
}

.transaksi-content .spp .spp-content h4 {
  margin-left: 20px;
  padding-top: 5px;
  font-size: 28px;
}

.transaksi-content .spp .spp-content label {
  margin-left: 20px;
  font-weight: 500;
}

.transaksi-content .tabel {
  margin-left: 30px;
  width: 75%;
}

.transaksi-content .tabel .title-tabel {
  margin-top: -20px;
  margin-bottom: -40px;
}

.transaksi-content .tabel .title-tabel h3 {
  font-size: 30px;
  margin-top: 15px;
  text-align: center;
}

.transaksi-content .tabel form button {
  /* float: right; */
  margin-left: 300px;
  margin-top: 10px;
  width: 100px;
  border-radius: 10px;
}

.transaksi-content .tabel form label {
  font-weight: 500;
  margin-left: 5px;
}

.transaksi-content .tabel form input, select,
.transaksi-content .bukti input {
  /* border: none; */
  width: 400px;
  border-radius: 10px;
  padding-left: 10px;
  background: rgb(221, 222, 235);
}

.transaksi-content .tabel form select {
  border: none;
  width: 400px;
  height: 40px;
  margin-bottom: 15px;
}

.transaksi-content .tabel form input:hover {
  border-bottom: 2px solid #11101d;
}
.transaksi-content .tabel form .bukti {
  display: flex;
  margin-left: 430px;
  margin-top: -377px;
}

.transaksi-content .tabel form .bukti label {
  font-weight: 500;
}

.transaksi-content .tabel form .bukti input {
  width: 100%;
}

/* End Transaksi */


/* Submenu Content */

.submenu-sidebar {
  margin: 20px;
}

.submenu-sidebar-content {
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
  width: 450px;
  height: auto;
  margin-top: 30px;
  margin-left: 5px;
}

.submenu-sidebar-content label {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 5px;
  margin-left: 5px;
}

.submenu-sidebar-content input,
.submenu-sidebar-content select {
  width: 400px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  margin-bottom: 10px;
}

.submenu-sidebar-content input:hover,
.submenu-sidebar-content select:hover {
  border-bottom: 2px solid #11101d;
}

.submenu-sidebar-content button {
  width: 80px;
  margin-left: 320px;
  margin-top: 10px;
  border-radius: 10px;
}

/* End Submenu Content */